// Font Weights
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontWeightBlack: 900;

// Font Family
$titleFont: "Source Sans Pro", sans-serif;
$bodyFont: $titleFont;

// Colors
$lightBackground: rgb(230, 236, 255);
$bodyColor: rgb(34, 34, 34);
